[submodule "modules/KKUTU"]
	path = modules/KKUTU
	url = https://github.com/YeeDochi/KKUTU.git
[submodule "modules/catchMind"]
	path = modules/catchMind
	url = https://github.com/YeeDochi/catchMind.git
[submodule "modules/Oh_Mock"]
	path = modules/Oh_Mock
	url = https://github.com/YeeDochi/Oh_Mock.git
[submodule "templates"]
	path = templates
	url = https://github.com/YeeDochi/miniGame_templates
[submodule "modules/Yacht_Dice"]
	path = modules/Yacht_Dice
	url = https://github.com/YeeDochi/Yacht_Dice.git
[submodule "modules/indian_poker"]
	path = modules/indian_poker
	url = https://github.com/YeeDochi/indian_poker
