[submodule "KKUTU"]
	path = modules/KKUTU
	url = https://github.com/YeeDochi/KKUTU.git
[submodule "catchMind"]
	path = modules/catchMind
	url = https://github.com/YeeDochi/catchMind.git
[submodule "Oh_Mock"]
	path = modules/Oh_Mock
	url = https://github.com/YeeDochi/Oh_Mock
